{% load static %}
<!DOCTYPE HTML>
<html>
<head>
</head>  

	<body>	
	
		<div style = "float:left;margin-left:100px;margin-top:50px;">
		<form action = "/searching/" method = "POST">
		{% csrf_token %}
				<div class="fieldWrapper">	

					<label for="id_searq">  
				{{ form.searq }}

			<input src = "{{ STATIC_URL }}admin/img/search.png" type="image" alt="submit" value="Search" width="25" height="25" style = "float:left;margin-top:-27px;margin-left:156px;">	
		</label>
		<p style ="font-size:12px;font-style:ariana;color:black;"> (Type user name) </p>
		</div>
		
		</form>
		
		</div>
<div style = "display:inline;">
<a href = "/display">All</a>
<a href = "/pay/{{query}}">paying</a>
<a href = "/vid/{{query}}">videos</a>
<a href = "/sp/{{query}}">Staff Pick</a>


</div>



	
	<div style = "float:left;margin:70px 30px 35px 100px;">			

			<table border ="1" style = "width: 1100px;">
				<thead>
					<tr>
						<th style='width:80px;'>User Name</th>
						<th style='width:80px;'>URL</th>
						<th style='width:130px;'>Paid USer</th>
						<th style='width:200px;'>Videos</th>
						<th style='width:110px;'>Staff Pick</th>
						
					</tr>
				</thead>
				
				<tbody>
					{% for item in result %}

						<tr>
							<td style='width:80px;'>  {{ item.username|capfirst }} </a></td>
							<td> {{ item.url }} </td>
							<td> {{ item.payment }} </td>
							<td> {{ item.videos }} </td>
							<td> {{ item.staff_pick }} </td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	
		

		</body>
		</html>